.container {
  height: 62vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.values {
  align-items: center;
  height: 20vh;
  display: flex;
  justify-content: space-between;
}

.buttongroup-style {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 160px;
  width: 222px;
  margin: auto;
}

.arrow-icon {
  transform: scale(0.8);
}

.form-button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-weight: 700;
  height: 55px;
  cursor: pointer;
  text-transform: uppercase;
  font-family:'Roboto',sans-serif;
  font-size: 16px;
}

.button-primary {
  background: var(--color-main-cta);
  color: #ffff;
  transition: background 500ms ease-in;
}

.primary-style {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-ghost {
  background: var(--cancelbutton-color);
  border: 1px solid var(--cancelbutton-border);
  color: var(--cancelbutton-text);
}

.form-button:hover,
.form-button:active {
  transition: background 250ms ease-out;
}  
