.WorkoutForm-container {
    height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.WorkoutForm-values {
    align-items: center;
    margin: 0 auto;
    height: 20vh;
    width: 270px;
    display: flex;
    justify-content: space-between;   
}

.WorkoutForm-buttongroup-style {
    display: flex;
    justify-content: space-around;
    height: 160px;
    width: 222px;
    margin: auto;
}
