:root {
    --button-height: 114px;
    --button-width: 125px;
}


.Button {
    height: var(--button-height);
    width: var(--button-width);
    padding: 0px 23px 10px 10px;

    font: 14px 'Roboto', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
  
    display: flex;
    align-items: flex-end;

    border: none;
    text-decoration: none;    
    
    cursor: pointer;
    text-align: left;
}

/* .Button-text {
    word-wrap: break-word;
    text-transform: none;
} */

.Button.Button-reset {
    background: var(--button-reset-background);
    color: var(--button-reset-text);
}

.Button.Button-track-a {
    background: var(--button-reset-background);
    color: var(--button-reset-text);
}

.Button.Button-track-b {
    background: var(--button-reset-color);
    color: var(--button-reset-text);
}

.Button.Button-summary {
    background: var(--button-reset-color);
    color: var(--button-reset-text);
}

/* .Button-text {
    padding: 0px 30px 0px 0px;
    position: relative;
    top: 25px;
    left: 8px;
    word-wrap: break-word;
    text-transform: none; */
