:root {
    --z-toggler: 6;
    --z-nav: 5;
    --z-backdrop: 4;
}

.Menu-link {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.Menu-Toggler {
    transform: rotate(90deg);
    height: var(--size);
    width: var(--size);
    font-size: 22px;
    border: none;
    padding: 0;
    line-height: var(--size);
    background: none;
    transition: transform 100ms ease-in-out;
    cursor: pointer;
    z-index: var(--z-toggler);
}

.Menu-Toggler.Menu-Toggler--active {
    transform: rotate(0);
    transition: transform 100ms ease-in-out;
}

.Menu-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-nav);
    transform: translateX(100vw);
    width: 90vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 2rem 1.2rem;
    background: #fff;
    color: #000;
    transition: transform 120ms ease-in-out;
}

.Menu-nav.Menu-nav--isOpen {
    transform: translateX(10vw);
}

@media (min-width: 440px) {
	.Menu-nav {
		transition: transform 120ms ease-in-out, opacity 120ms ease-in-out;
		transform: translateX(100vw);
		opacity: 0;
		left: 50%;
		width: 420px;
	}

	.Menu-nav.Menu-nav--isOpen {
		transform: translateX(-50%);
		opacity: 1;
	}
}

.Menu-nav article {
    top: 44px;
    padding-top: 2em;
    position: relative;
    z-index: var(--z-nav);
}

.Menu-backdrop {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    opacity: 0;
    pointer-events: none;

    position: fixed;
    z-index: var(--z-backdrop);
    transition: opacity 150ms ease-out;
}

.Menu-backdrop.Menu--isOpen {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 200ms ease-out;
}
