.SSButton {
    display: inline-block;
    height: 33px;
    width: 33px;
    border: solid 1px #000000;
    border-radius: 50%;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    transition: all 0.15s;
    cursor: pointer;
    opacity: 20%;
    transition: background 500ms ease-in;
}

.SSButton:hover,
.SSButton:active {
    transition: background 250ms ease-out;
}
