:root {
  --default-color: #c1c1c1;
  --active-color: blue;
}

.SSButton {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  transition: background 500ms ease-in;
  background: var(--default-color);
  cursor: pointer;
}

.SSButton:hover,
.SSButton:active {
  transition: background 250ms ease-out;
  background: var(--active-color);
}
