:root {
  --default-color: #BBBBBB;
  --active-color: #000;
}

.SSButton {
  display:inline-block;
  height: 60px;
  width: 60px;
  border: 2px solid var(--default-color);
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:700;
  font-size: 30px;
  text-align:center;
  transition: all 0.15s;
  cursor: pointer;
  transition: background 500ms ease-in, border 250ms ease-in;
}

.SSButton:hover,
.SSButton:active {
  transition: background 250ms ease-out, border 250ms ease-out;
  border-color: var(--active-color);
}
