:root {
  --default-color: #c1c1c1;
  --active-color: blue;
}

.SSButton {
  width: 60px;
  height: 60px;
  border: none;
  transition: background 500ms ease-in;
  background: none;
  cursor: pointer;
  font-size: 60px;
}

.SSButton:hover,
.SSButton:active {
  transition: background 250ms ease-out;
  
}
