.SSInput {
  box-sizing: border-box;
  line-height: 60px;
  border: 2px solid var(--input-border);
  text-align: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
}

.SSInput:focus,
.SSInput:active,
.SSInput:hover {
  border: 2px solid var(--active-input-border);
  box-shadow: none;
  outline: none;
}
