.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.values {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.input {
  margin-top: 50px;
  width: 50px;
  height: 30px;
  text-align: center;
}

.form-button {
  width: 100vw;
  border: none;
}

:root {
  --color-light: #E2E2E2;
  --color-mid: #C4C4C4;
  --color-dark: #747474;
}

.button-primary {
  background: var(--color-mid);
  height: 30vh;
}

.button-ghost {
  background: var(--color-dark);
  height: 15vh;
}
