.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.values {
  width: 80%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 28vh;
}

.input {
  width: 50px;
  height: 30px;
  text-align: center;
}

.submit-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

:root {
  --color-light: #E2E2E2;
  --color-mid: #C4C4C4;
  --color-dark: #747474;
  --active-color: #000;
}

.form-button {
  width: 95vw;
  border: none;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  font-family:'Roboto',sans-serif;
}

.button-primary {
  background: var(--color-mid);
  border: 2px solid var(--color-dark);
  height: 30vh;
  transition: background 500ms ease-in;
}

.button-ghost {
  background: var(--color-dark);
  border: 2px solid var(--color-light);
  height: 15vh;
  color: var(--color-light);
  margin-bottom: 5px;
}

.form-button:hover,
.form-button:active {
  transition: background 250ms ease-out;
}  
