.container {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.values {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.input {
  width: 50px;
  height: 30px;
  text-align: center;
}

.form-button {
  width: 60%;
  margin-bottom: 1rem;
  line-height: 2.5;
}

:root {
  --color-primary: blue;
  --color-ghost: #aaa;
}

.button-primary {
  background: var(--color-primary);
}

.button-ghost {
  background: transparent;
  border: 1px solid var(--color-ghost);
}
