.SSInput {
    text-decoration: none;
    height: 100px;
    width: 150px;
    text-transform: capitalize;
    border-radius: 0px 7px;
    margin: 0 8px 8px 0;
    font-size: 32px;
    font-weight: 900;
    color: #00326D;
    position: relative;
}

.SSInput:focus,
.SSInput:active,
.SSInput:hover {
    border: 2px solid var(--input-border-active);
    box-shadow: none;
    outline: none;
}
