:root {
    --background-light: #dfdfdf; /* Background color for VariantA/B buttons */
    --background-dark: #454545; /* Background color for VariantA/B buttons */

    --color-header: #c1c1c1; /* Header color */

    --workoutList-color-main: #00326D; /* Color scheme for the workoutcards after chosing Variant */
    --workoutList-status-icon: #DB009E;
    --workoutList-status-icon-done: #00D1FF;

    --workoutForm-save-color: #00D1FF;
    --workoutForm-cancel-color: #DB009E;

    --input-border: #BBBBBB;
    --input-border-active: #000;

    --color-main-cta: #00326D;
    --color-fourth-cta: #D6E9FF;

    --color-variant-a: #FFBDA8;
    --color-variant-b: #FFE792;

    --color-ssbutton: #FFC6B4;
    --color-ssbutton-border: #FFB0B0;

    --color-input: #E9F3FF;
    --color-input-border: #C9C9C9;

    --size: 44px;


}