.WorkoutList {
  display: flex;
  height: 60vh;
  flex-direction: column;
}

.WorkoutList-link {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;;
}

.WorkoutList-link:nth-child(1) {
  background: var(--workoutList-color-light);
  color: #000000;
}

.WorkoutList-link:nth-child(2) {
  background: var(--workoutList-color-mid);
  color: #000000;
}

.WorkoutList-link:nth-child(3) {
  background: var(--workoutList-color-dark);
  color: #FFFF;
}

.WorkoutList-link-text {
font-weight: 900;
font-size: 24px;
margin-left: 3vh;
}

.WorkoutList-link-icon {
margin-right: 3vh;
}