.WorkoutList {
    display: flex;
    height: 40vh;
    flex-direction: column;
}

.WorkoutList-link {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;;
}

.WorkoutList-link:nth-child(1) {
    background: var(--color-main-cta);
    color: #FFFF;
}

.WorkoutList-link:nth-child(2) {
    background: var(--color-second-cta);
    color: #FFFF;
}

.WorkoutList-link:nth-child(3) {
    background: var(--color-third-cta);
    color: #FFFF;
}

.WorkoutList-link.workout_isDone {
    background: var(--color-fourth-cta);
    color: #004699;
}

.WorkoutList-link-text {
    font-weight: 900;
    font-size: 24px;
    margin-left: 3vh;
}

.WorkoutList-link-icon {
    margin-right: 3vh;
}