.WorkoutList {
    display: flex;
    flex-wrap: wrap;
}

.WorkoutList-link {
    background: var(--workoutList-color-main);
    color: #fff;
    text-decoration: none;
    height: 100px;
    width: 150px;
    text-transform: capitalize;
    border-radius: 0px 7px;
    margin: 0 8px 8px 0;
    position: relative;
    }

.WorkoutList-workout {
    position: absolute;
    top: 10px;
    left: 10px;
}

.WorkoutList-reps {
    position: absolute;
    top: 10px;
    right: 10px;
}

.WorkoutList-weight {
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: 900;
    font-size: 32px;
    transform: translate(-50%, -50%);
}

.WorkoutList-link-text {
    font-weight: 400;
    font-size: 12px;
}

.WorkoutList-status-icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 50%;
    width: 12px; height: 12px;
    background: var(--workoutList-status-icon);
}

.WorkoutList-status-icon.WorkoutList-status-icon--isDone {
    background: var(--workoutList-status-icon-done);
}